.chart {
    background-color: white;
    width: 100%;
    max-width:600px;
    border:1px solid black;
}

.topnav {
    width: auto;
    overflow: hidden;
    background-color: #333333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.mid_div {
	    display: flex;
}

.split {
    height: auto;
    width: 50%;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 8px;
}

.left {
    left: 0;
    background-color: aqua;
}

.right {
    right: 0;
    background-color: bisque;
}

footer {
    position: fixed;
	left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 3px;
    background-color: #333333;
    color: #f2f2f2;
}

.table_input_row_remove_btn {
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}